@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');
*, *:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #ffe5b470;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    height: 50px;
    margin-top: 20px;
    margin-left: 75px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
}

.btnInd {
    background-color: #b98f41;
    border-color: #b98f41;
    border: 1px solid transparent;
    height: 40px;
    border-radius: 4px;
    width: 100px;
    position: absolute;
    left: 0;
    margin-top: 10px;
    margin-left: 10px;
    color: #fff;
}
.btnInd:hover{
    color: #fff;
}

h1 {
    font-size: 35px;
}

.main {
    height: calc(100% - 100px);
    display: flex;
}

.btn, .del_btn {
    background-color: #b98f41;
    border-color: #b98f41;
    border: 1px solid transparent;
}

.btn:hover {
    background-color: #ceb078;
    border-color: #ceb078;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-right: 150px;
    width: 100%;
    height: 50px;
    text-align: center;
}

#calendar {
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    margin-top: 5px;
    font-size: 20px;
}

h2 {
    font-size: 26px;
}

a {
    color: #000;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #00000096;
}

.fc-toolbar {
    text-transform: capitalize;
}

#calendar .fc-daygrid-dot-event .fc-event-title {
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 0;
    overflow: hidden;
    font-weight: normal;
    color: rgb(26, 26, 26);
    font-size: 16px;
}

#calendar .fc-h-event .fc-event-title {
    color: rgb(26, 26, 26);
}

#calendar .fc-event-time {
    font-weight: normal;
    color: rgb(26, 26, 26);
    font-size: 16px;
}

#calendar .fc-day, #calendar .fc-button {
    transition: all .3s;
}

#calendar .fc-day:hover {
    background: #ffe2ad;
}

#calendar .fc-today-button:disabled {
    background: #b98f41;
    border: 1px solid #b98f41;
}

#calendar .fc-day-today {
    background: #b69a6650;
}

#calendar .fc-day-today:hover {
    background: #ceb078;
}

#calendar .fc-button {
    background: #b98f41;
    color: #fff;
    border: 0.2px solid #fff;
}

#calendar .fc-button:hover {
    background: #ceb078;
}

footer a:hover {
    border-bottom: 1px solid #000;
}

.fc-theme-standard td, .fc-theme-standard th {
    border: 1px solid #353535;
    border: 1px solid var(--fc-border-color, #353535);
}

.fc-scrollgrid {
    border: 1px solid #353535;
    border: 1px solid var(--fc-border-color, #353535);
}

.fc .fc-scrollgrid {
    border-collapse: separate;
    border-right-width: 0;
    border-bottom-width: 0;
    border-color: #353535;
}

@media screen and (max-width: 480px) {
    body {
        width: 480px;
    }
    .header {
        margin: 20px 0;
    }
    .main {
        display: block;
        margin-bottom: 50px;
        margin-top: 30px;
    }
    .footer {
        display: none;
        padding: 20px 30px;
        font-size: 18px;
    }
    #calendar .fc-prev-button, #calendar .fc-next-button {
        font-size: 14px;
    }
    #calendar .fc-toolbar-title {
        font-size: 20px;
    }
    #calendar .fc-today-button {
        font-size: 14px;
    }
    #calendar .fc-dayGridMonth-button, #calendar .fc-timeGridDay-button {
        font-size: 14px;
    }
    .btnInd {
        font-size: 12px;
        position: absolute;
        top: 55px;
        left: 16px;
    }
}